body {
    background: black;
    text-align: center;
    color: #DDD;
}  

#game {
    margin: auto;
}

@font-face {
    font-family: Alanden;
    src: url(assets/Alanden.ttf);
}

@font-face {
    font-family: Tribal;
    src: url(assets/Tribal_Schoolhouse.ttf);
}
